<%= erb :header, :views => settings.partials_dir %>

<div class="container">
  <div class="row">

    <div class="col-sm-9">
      <h1><%= @page_title %></h1>

<%= yield %>

    </div> <!-- .col -->

    <div class="col-sm-3 sidebar">
      <p>You might want to try this page instead.</p>
      <ul>
        <li><a href="<%= url('/') %>">Encoder</a></li>
      </ul>
    </div>

  </div> <!-- .row -->
</div> <!-- .container -->

<%= erb :footer, :views => settings.partials_dir %>
